@model dynamic
@{
    ViewBag.Title = "Online catalog";
}
<h2>@ViewBag.Title</h2>
<table>
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Description 
            </th>
            <th>
                Unit Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>
                    @item.ItemId
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.UnitPrice
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Add", "Create")
</div>
